<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.linlinjava.litemall.db.dao.StatMapper">
    <select id="statUser" resultType="map">
        select
        substr(add_time,1,10) as day,
        count(distinct id) as users
        from litemall_user
        group by substr(add_time,1,10)
    </select>
    <select id="statUserOrder" resultType="map">
        SELECT *
        FROM (
        SELECT
        u.id,
        u.username,
        u.nickname,
        COUNT(o.id) AS order_count,

        -- 正常订单金额
        IFNULL(SUM(CASE WHEN o.aftersale_status != 3 AND o.order_status IN (401, 402) THEN o.actual_price ELSE 0 END), 0) AS normal_amount,

        -- 退款订单金额
        IFNULL(SUM(CASE WHEN o.aftersale_status = 3 OR o.order_status = 203 THEN o.actual_price ELSE 0 END), 0) AS refund_amount,

        -- 总消费水桶数（仅 type = 0 水商品）
        IFNULL(SUM(
        CASE
        WHEN o.order_status IN (401, 402) AND og.type = 0 AND o.aftersale_status !=3 THEN og.number * g.water_count
        ELSE 0
        END
        ), 0) AS total_water_count

        FROM litemall_user u
        LEFT JOIN litemall_order o
        ON u.id = o.user_id

        LEFT JOIN litemall_order_goods og
        ON o.id = og.order_id
        AND og.deleted = 0

        LEFT JOIN litemall_goods g
        ON og.goods_id = g.id
        AND g.deleted = 0
        AND g.type = 0
        <where>
            <if test="query != null">
                ${query}
            </if>
        </where>
        GROUP BY u.id, u.username
        ) AS user_order_stats
        ORDER BY user_order_stats.normal_amount DESC
    </select>
    <select id="statOrder" resultType="map">
        SELECT
        DATE(o.add_time) AS order_date,

        COUNT(o.id) AS order_count,  -- 订单数量

        COUNT(DISTINCT o.user_id) AS user_count,  -- 下单用户数

        -- 正常订单金额（已完成、未退款）
        IFNULL(SUM(CASE
        WHEN o.aftersale_status != 3 AND o.order_status IN (401, 402)
        THEN o.actual_price ELSE 0
        END), 0) AS normal_amount,

        -- 退款订单金额（状态为 203 或售后完成）
        IFNULL(SUM(CASE
        WHEN o.aftersale_status = 3 OR o.order_status = 203
        THEN o.actual_price ELSE 0
        END), 0) AS refund_amount,

        -- 消费水桶数（仅 type = 0 且未退款）
        IFNULL(SUM(CASE
        WHEN o.order_status IN (401, 402)
        AND og.type = 0
        AND o.aftersale_status != 3
        THEN og.number * g.water_count
        ELSE 0
        END), 0) AS total_water_count

        FROM litemall_order o
        LEFT JOIN litemall_order_goods og ON o.id = og.order_id AND og.deleted = 0
        LEFT JOIN litemall_goods g ON og.goods_id = g.id AND g.deleted = 0 AND g.type = 0
        <where>
            <if test="query != null">
                ${query}
            </if>
        </where>
        GROUP BY DATE(o.add_time)
        ORDER BY order_date DESC
    </select>
    <select id="statGoods" resultType="map">
        select
        substr(add_time,1, 10) as day,
        count(distinct order_id) as orders,
        sum(number) as products,
        sum(number*price) as amount
        from litemall_order_goods
        group by substr(add_time,1, 10)
    </select>

    <select id="statGrabOrder" resultType="map">
        SELECT
        u.id AS grab_user_id,
        u.username,
        u.nickname,
        COUNT(DISTINCT o.id) AS total_grab_orders,
        SUM(og.number * g.water_count) AS total_water_delivered
        FROM
        litemall_order o
        JOIN
        litemall_user u ON o.grab_user_id = u.id
        JOIN
        litemall_order_goods og ON og.order_id = o.id
        JOIN
        litemall_goods g ON og.goods_id = g.id
        <where>
            <if test="query != null">
                ${query}
            </if>
        </where>
<!--        AND o.add_time >= '2025-06-01'-->
<!--        AND o.add_time < '2025-08-01'-->
        GROUP BY
        o.grab_user_id
        ORDER BY
        total_grab_orders DESC;
    </select>



</mapper>
