<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.linlinjava.litemall.db.dao.StatMapper">
    <select id="statUser" resultType="map">
        select
        substr(add_time,1,10) as day,
        count(distinct id) as users
        from litemall_user
        group by substr(add_time,1,10)
    </select>
    <select id="statOrder" resultType="map">
        select
        substr(add_time,1,10) as day,
        count(id) as orders,
        count(distinct user_id) as customers,
        sum(actual_price) as amount,
        round(sum(actual_price)/count(distinct user_id),2) as pcr
        from litemall_order
        <where>
            <if test="query != null">
                ${query}
            </if>
        </where>
        group by substr(add_time,1,10)
    </select>
    <select id="statGoods" resultType="map">
        select
        substr(add_time,1, 10) as day,
        count(distinct order_id) as orders,
        sum(number) as products,
        sum(number*price) as amount
        from litemall_order_goods
        group by substr(add_time,1, 10)
    </select>

    <select id="statGrabOrder" resultType="map">
        SELECT
        u.id AS grab_user_id,
        u.username,
        u.nickname,
        COUNT(DISTINCT o.id) AS total_grab_orders,
        SUM(og.number * g.water_count) AS total_water_delivered
        FROM
        litemall_order o
        JOIN
        litemall_user u ON o.grab_user_id = u.id
        JOIN
        litemall_order_goods og ON og.order_id = o.id
        JOIN
        litemall_goods g ON og.goods_id = g.id
        <where>
            <if test="query != null">
                ${query}
            </if>
        </where>
<!--        AND o.add_time >= '2025-06-01'-->
<!--        AND o.add_time < '2025-08-01'-->
        GROUP BY
        o.grab_user_id
        ORDER BY
        total_grab_orders DESC;
    </select>



</mapper>
